h1{
  text-align:center;
  color: #8b0000;
  display: table-cell;
  vertical-align: middle;
  font-size: 2em;
}

#cont {
  text-align:center;
  display: table-cell;
  vertical-align: middle;
}
#welcome-section {
  background-color: #E8E8E8;

  width:100%;
  border:groove 5px #8b0000;

  display: table;
  height: 100vh;
  vertical-align: middle;

}

a {
    text-decoration: none;
    color: black;

}

ul {
  list-style: none;
}

p {
  text-align: left;
}